# Credenciales YouTube Data API
YOUTUBE_API_KEY=your_api_key_here

# Credenciales Instagram Graph API
INSTAGRAM_APP_ID=your_app_id
INSTAGRAM_APP_SECRET=your_app_secret
INSTAGRAM_ACCESS_TOKEN=your_access_token

# Credenciales Azure SQL Database
AZURE_SERVER=tu-servidor.database.windows.net
AZURE_DATABASE=tu_bd
AZURE_USER=tu_usuario
AZURE_PASSWORD=tu_password
