# Entornos virtuales
venv/
env/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno
.env

# Jupyter Notebooks
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Credenciales OAuth
client_secret.json
token.json

# Datos crudos extraidos de las APIs
data/raw/
