# Entornos virtuales
venv/
env/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno y credenciales
.env
client_secret.json
youtube_token.pickle

# Jupyter Notebooks
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
